Plugins>MIC>Utility, "Mask conversion", fr.curie.tools.utilityplugins.MaskConversion_Plugin
Plugins>MIC>Utility, "Confusion Matrix for masks", fr.curie.tools.utilityplugins.ConfusionMatrix_Segmentation
Plugins>MIC>Utility, "Measure Similarity", fr.curie.tools.utilityplugins.SimilarityMetrics_Plugin
Plugins>MIC>Inference, "Yolo models", fr.curie.yolo.Yolo_TilePlugin
Plugins>MIC>Inference, "BioImage models", fr.curie.bioimage.BioImage_Plugin
Plugins>MIC>Inference, "Classification", fr.curie.classification.Classification_extendedPlugin
Plugins>MIC, "MicLearning", fr.curie.gui.MainApplication_Frame