Plugins>MIC-Learning>Utility, "Mask conversion", fr.curie.miclearning.plugin.utilityplugin.MaskConversion_Plugin
Plugins>MIC-Learning>Utility, "Confusion Matrix for masks", fr.curie.miclearning.plugin.utilityplugin.ConfusionMatrix_Segmentation
Plugins>MIC-Learning>Utility, "Measure Similarity", fr.curie.miclearning.plugin.utilityplugin.SimilarityMetrics_Plugin
Plugins>MIC-Learning>Utility, "Visualize image encoding", fr.curie.miclearning.plugin.sam.DisplayEncoded_Plugin

Plugins>MIC-Learning>Inference, "Classification", fr.curie.miclearning.plugin.classification.Classification_extendedPlugin
Plugins>MIC-Learning>Inference, "U-net models", fr.curie.miclearning.plugin.unet.BioImage_Plugin
Plugins>MIC-Learning>Inference, "Instanseg", fr.curie.miclearning.plugin.instanseg.InstanSeg_Plugin
Plugins>MIC-Learning>Inference, "YOLO models", fr.curie.miclearning.plugin.yolo.Yolo_TilePlugin
Plugins>MIC-Learning>Inference, "DETR models", fr.curie.miclearning.plugin.detr.Detr_Plugin
Plugins>MIC-Learning>Inference, "SAM2 segmentation", fr.curie.miclearning.plugin.sam.Sam_Plugin