Plugins>MicLearning>Utility, "Mask conversion", fr.curie.tools.utilityplugins.MaskConversion_Plugin
Plugins>MicLearning>Utility, "Confusion Matrix for masks", fr.curie.tools.utilityplugins.ConfusionMatrix_Segmentation
Plugins>MicLearning>Utility, "Measure Similarity", fr.curie.tools.utilityplugins.SimilarityMetrics_Plugin
Plugins>MicLearning>Utility, "Visualize image encoding", fr.curie.sam.DisplayEncoded_Plugin

Plugins>MicLearning>Inference, "YOLO models", fr.curie.yolo.Yolo_TilePlugin
Plugins>MicLearning>Inference, "U-net models", fr.curie.bioimage.BioImage_Plugin
Plugins>MicLearning>Inference, "Classification", fr.curie.classification.Classification_extendedPlugin
Plugins>MicLearning>Inference, "SAM segmentation", fr.curie.sam.Sam_Plugin
Plugins>MicLearning>Inference, "Instanseg", fr.curie.instanseg.InstanSeg_Plugin
Plugins>MicLearning>Inference, "DETR models", fr.curie.detr.Detr_Plugin
Plugins>MicLearning>Inference, "BioImage models tiles", fr.curie.bioimage.BioImage_TilePlugin